*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 2rem 0;
  text-align: center;
}

li {
  margin-bottom: 2rem;
  margin-left: 0.75rem;
  display: flex;
  gap: 1rem;
}

ol {
  list-style: none;
}

p {
  margin: 0.75rem 0;
}

.avatar {
  width: 100px;
  height: 100px;
}

.badge {
  border: 1px black solid;
  padding: 0.25rem;
}

.details-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
