<main class="main">
  @if (repositories.length > 0) {
    <ul>
      @for (repository of repositories; track $index) {
        <li>
          <div>
            {{ repository.stargazers_count }}, {{ repository.name }}, {{ repository.description }},
            {{ repository.stargazers_count }}, {{ repository.open_issues_count }},{{
              repository.owner.login
            }}, {{ repository.owner.avatar_url }}, created
            {{ daysAgo(repository.created_at) }} day(s) ago by {{ repository.owner.login }}
          </div>
        </li>
      } @empty {
        <li>There are no repositories.</li>
      }
    </ul>
  }
  @if (isLoading) {
    <p>Loading...</p>
  }
  @if (!hasMore) {
    <p>No more repositories.</p>
  }
</main>
